$elementi-menu: inline-block;
$secondary-color: rgba(243, 10, 10, 0.877);


    header{
        font-family: 'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif';
        text-align: left;
        nav{
            display: flex;
            justify-content: space-around;
        }
          li{
              display: $elementi-menu;
              a{
                  text-decoration: none;
                  color: $secondary-color;
                  font-weight: bold;
              }
          }
        img{
            display: none;
        }
        .showcase-content{
            color: aliceblue;
            background-image: url(https://picsum.photos/id/0/450/450);
            background-size: cover;
            background-position: left;
            padding: 2em;
            p{
                font-weight: bolder;
                text-shadow: 1px 1px grey;
            }
        }
    }
